.Login {
  margin-top: 50px;
}

/* General form styling */
.Login form {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.Login h2 {
  text-align: center;
  color: #3498db;
}

.Login label {
  display: block;
  margin-bottom: 5px;

}

/* Input styling */
.Login input,
.Login input[type="email"] {
  width: 100%;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #5b6f80;
}


/* Button styling */
.Login .button,
.Login input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.Login .button:hover {
  background-color: #5b6f80;
}

.Login .register {
  margin-top: 20px;
  text-align: center;
  font-size: medium;
}

.Login div {
  margin-bottom: 30px;
}

.error {
  color: red;
}